*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Lato",sans-serif; }

.nav {
  background-color: #fff;
  height: 7rem;
  position: relative; }
  .nav_icon {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 600;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 9rem;
    background-image: linear-gradient(to right bottom, #a56cf7, #f2a7f0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .nav_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 9rem; }

.main {
  background-image: linear-gradient(to right bottom, #a56cf7, #f2a7f0);
  width: 100%;
  height: calc(100vh - 7rem);
  position: relative; }
  .main_form {
    width: 27%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .main_heading {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .main_heading_primary {
      font-size: 8rem;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2rem;
      margin-bottom: 2rem;
      color: #fff;
      animation: moveFromTop 1s ease-out; }
    .main_heading_secondary {
      font-size: 4rem;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 2rem;
      color: #fff;
      animation: fadeIn 3s ease-out; }
    .main_heading_btn {
      animation: moveFromBottom 1s ease-out; }

@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(-6rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(6rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.btn {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  color: #fff;
  letter-spacing: .3rem;
  text-decoration: none;
  border-radius: 3px;
  padding: 1.5rem 4rem;
  background-image: linear-gradient(to right, #a56cf7, #f2a7f0); }
  .btn:hover {
    color: #000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer; }

.btn-small {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  letter-spacing: .3rem;
  border-radius: 3px;
  padding: .8rem 1.5rem;
  background-image: linear-gradient(to right, #a56cf7, #f2a7f0); }
  .btn-small:hover {
    color: #000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer; }

.form {
  text-align: center; }
  .form_group:not(:last-child) {
    margin-bottom: 2rem; }
  .form_input {
    font-family: inherit;
    font-size: 1.5rem;
    color: inherit;
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 4px;
    background-color: white;
    width: 100%;
    display: block;
    border-bottom: 3px solid transparent; }
    .form_input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #009900; }
    .form_input:focus:invalid {
      border-bottom: 3px solid #ff1a1a; }
    .form_input::-webkit-input-placeholder {
      color: #282828; }
  .form_label {
    font-size: 1.2rem;
    font-weight: 700;
    display: block;
    transition: all .3s;
    margin-top: .7rem; }
  .form_input:placeholder-shown + .form_label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }

.post {
  width: 50%;
  margin: 0 auto; }
  .post_btn {
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .post_box {
    position: relative;
    width: 100%;
    background-color: #fff;
    height: 8rem;
    border-radius: 3px;
    margin-bottom: 1rem; }
    .post_box_content_title {
      position: absolute;
      top: 20%;
      left: 4rem;
      font-size: 1.2rem;
      font-weight: 700; }
    .post_box_content_body {
      position: absolute;
      top: 50%;
      left: 4rem;
      font-size: 2rem;
      font-weight: 700; }
    .post_box-btn {
      position: absolute;
      top: 50%;
      right: 11.7rem;
      transform: translateY(-50%); }
    .post_box-btn-right {
      position: absolute;
      top: 50%;
      right: .8rem;
      transform: translateY(-50%); }
